


<div class="main">
<div class="tag-item-list">
  <ng-container *ngIf="tagText && tagText.length > 0">
    <ng-container *ngFor="let data of tagText; let i = index;">
      <div class="ath-item">
        <span >{{data.text}}{{data.id}}</span>
        <a class="remove-icon" (click)="removeTag(i)">
          <span class="material-icons">
            x
          </span>
        </a>
      </div>
    </ng-container>
  </ng-container>
</div>

<input #enteredValue  aria-label="searchText" type="search" [(ngModel)]= "textValue"  class="search-text"
placeholder="add" (keyup)="addTagText($event, enteredValue.value)" />

</div>
